---
import { Icon } from 'astro-icon/components';

import Layout from '@/layouts/layout.astro';
import Lists from '@/components/basket/lists.astro';
import Loading from '@/components/loading.astro';
---

<Layout>
  <section class='prose'>
    <div class="flex items-center">
      <h1> Lists </h1>

      <div class="ml-auto">
        <a href='/list/create'>
          <Icon name='tabler:plus' />
        </a>
      </div>
    </div>

    <Lists server:defer>
      <Loading slot='fallback' />
    </Lists>
  </section>
</Layout>
