---
import { actions } from 'astro:actions';

import Layout from '@/layouts/layout.astro';

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect('/login');
}
---

<Layout>
  <section class='prose'>
    <h1>Change password</h1>

    <form method='post' action={actions.auth.changePassword}>
      <input type='hidden' name='userId' />
      <input type='password' name='oldPassword' placeholder='Password' />
      <input type='password' name='newPassword' placeholder='New password' />
      <button>Submit</button>
    </form>
  </section>
</Layout>
