---
import Layout from '@/layouts/layout.astro';
---

<Layout>
  <section class='prose'>
    <h1> Gemeinsam einkaufen </h1>

    <ul>
      <li>
        <a href='/list'>Lists</a>
      </li>
      <li>
        <a href='/item'>Items</a>
      </li>
    </ul>
  </section>
</Layout>
