---
import { actions } from 'astro:actions';

import Layout from '@/layouts/layout.astro';
---

<Layout>
  <form method='post' action={actions.auth.register}>
    <input type='text' name='username' />
    <input type='email' name='email' />
    <input type='password' name='password' />
    <button>Submit</button>
  </form>
</Layout>
